@model Shop.Models.RealEstates.RealEstateCreateUpdateViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
</head>
<body>
<div class="card crud-card m-5">
    <div class="card-header">
        @if (Model.Id.HasValue)
        {
            <h5 class="card-title">Update</h5>
        }
        else
        {
            <h5 class="card-title">Create</h5>
        }
    </div>
    <div class="card-body p-2">
        <form method="post" enctype="multipart/form-data" asp-action="@(Model.Id.HasValue ? "Update" : "Create")">
            @Html.AntiForgeryToken()
            <input asp-for="Id" type="hidden" />
            <input asp-for="CreatedAt" type="hidden" />
            <input asp-for="ModifiedAt" type="hidden" />

            <div class="form-group form-group-item row">
                <label asp-for="Size" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Size" class="form-control form-group-item-input" />
                </div>
            </div>

            <div class="form-group form-group-item row">
                <label asp-for="Location" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Location" class="form-control form-group-item-input" />
                </div>
            </div>

            <div class="form-group form-group-item row">
                <label asp-for="RoomNumber" class="col-sm-2 col-form-label">Room Number</label>
                <div class="col-sm-10">
                    <input asp-for="RoomNumber" class="form-control form-group-item-input" />
                </div>
            </div>

            <div class="form-group form-group-item row">
                <label asp-for="BuildingType" class="col-sm-2 col-form-label">Building Type</label>
                <div class="col-sm-10">
                    <input asp-for="BuildingType" class="form-control form-group-item-input" />
                </div>
            </div>

            <div class="form-group form-group-item row">
                <label asp-for="Files" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input class="form-control form-group-item-input" asp-for="Files" multiple type="file" />
                    </div>
                </div>
            </div>

            <div class="form-group form-group-item row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="row">
                        @foreach (var image in Model.Image)
                        {
                            <div class="col-sm-3 mt-3">
                                <div class="image-container position-relative">
                                    <img class="card-image-top img-fluid" src="@image.Image" asp-append-version="true" />

                                    @if (Model.Id.HasValue)
                                    {
                                        <div class="overlay">
                                            <button type="button" class="btn btn-danger btn-sm" onclick="removeImage('@image.ImageId')">Remove</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <hr />

            @if (Model.Id.HasValue)
            {
                <input asp-action="update" asp-controller="realEstates" type="submit" class="btn btn-update" value="Update" />
            }
            else
            {
                <input asp-action="create" asp-controller="realEstates" type="submit" class="btn btn-create" value="Create" />
            }

            <a asp-action="Index" asp-controller="realEstates" class="btn btn-back">Back</a>
        </form>
    </div>
</div>

<script>
    function removeImage(imageId) {
        if (confirm("Are you sure you want to remove this image?")) {
            const token = document.querySelector('input[name="__RequestVerificationToken"]').value;

            fetch(`/cars/RemoveImage`, {
                method: 'POST',
                headers: {
                    'RequestVerificationToken': token,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ ImageId: imageId })
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert("Failed to remove the image.");
                }
            }).catch(error => console.error('Error:', error));
        }
    }
</script>
</body>
</html>
