@model Shop.Models.RealEstates.RealEstatesPagedViewModel

<div class="container">
        <div class="row d-flex align-items-center justify-content-between">
        <div class="col-sm-6">
            <h1 class="text-white mt-4 mb-3">Real Estates</h1>
        </div>
        <div class="col-sm-3">
            <form asp-action="Index" method="get" class="mb-3">
                <div class="form-group">
                    <label for="sortOrder" class="sr-only text-white">Sort By:</label>
                    @Html.DropDownList("sortOrder", new SelectList(new[]
                             {
                    new { Value = "", Text = "Created At (Descending)"},
                    new { Value = "created_at", Text = "Created At (Ascending)"},
                    new { Value = "location", Text = "Location (Ascending)" },
                    new { Value = "location_desc", Text = "Location (Descending)" },
                    new { Value = "size", Text = "Size (Ascending)" },
                    new { Value = "size_desc", Text = "Size (Descending)" },
                    new { Value = "room", Text = "Room Number (Ascending)" },
                    new { Value = "room_desc", Text = "Room Number (Descending)" },
                    new { Value = "type", Text = "Building Type (Ascending)" },
                    new { Value = "type_desc", Text = "Building Type (Descending)" }
                    }, "Value", "Text", Model.SortOrder), new { @class = "form-control", onchange = "this.form.submit()" })
                </div>
            </form>
        </div>
    </div>
    <form method="post">
        <table class="table text-white table-hover" style="table-layout: fixed; width: 100%;">
            <thead class="text-white">
                <tr>
                    <th class="col-2" scope="col">Nr</th>
                    <th class="col-2" scope="col">Size</th>
                    <th class="col-3" scope="col">Location</th>
                    <th class="col-2" scope="col">Room Number</th>
                    <th class="col-3" scope="col">Building Type</th>
                    <th class="col-3" scope="col"></th>
                </tr>
            </thead>
            <tbody class="text-white">
                @for (int i = 0; i < Model.RealEstates.Count(); i++)
                {
                    var realEstate = Model.RealEstates.ElementAt(i);
                    <tr>
                        <td>@((Model.CurrentPage - 1) * Model.PageSize + (i + 1))</td>
                        <td>@realEstate.Size</td>
                        <td>@realEstate.Location</td>
                        <td>@realEstate.RoomNumber</td>
                        <td>@realEstate.BuildingType</td>
                        <td>
                            <a asp-action="Details" asp-controller="RealEstates" asp-route-id="@realEstate.Id" class="btn btn-info">Details</a>
                            <a asp-action="Update" asp-controller="RealEstates" asp-route-id="@realEstate.Id" class="btn btn-primary">Update</a>
                            <a asp-action="Delete" asp-controller="RealEstates" asp-route-id="@realEstate.Id" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

    <div class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a asp-action="Index" asp-route-pageNumber="@i" asp-route-sortOrder="@Model.SortOrder" class="btn @((i == Model.CurrentPage) ? "btn-primary" : "btn-secondary") mx-1">
                @i
            </a>
        }
    </div>
</div>
