<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shop.styles.css" asp-append-version="true" />

    @{
        string faviconPath = "/icons/defaultFavicon.ico"; // Default favicon

        var iconController = ViewContext.RouteData.Values["controller"]?.ToString();
        switch (iconController)
        {
            case "Home":
                faviconPath = "/icons/homeIcon32.png";
                break;
            case "Spaceships":
                faviconPath = "/icons/spaceshipIcon32.png";
                break;
            case "RealEstates":
                faviconPath = "/icons/realEstateIcon32.png";
                break;
            case "Kindergartens":
                faviconPath = "/icons/kindergartenIcon32.png";
                break;
            case "ChuckNorrisJokes":
                faviconPath = "/icons/chuckNorrisIcon32.ico";
                break;
            case "FreeToGames":
                faviconPath = "/icons/freeToGamesIcon32.png";
                break;
            case "AccuWeathers":
                faviconPath = "/icons/accuWeatherIcon32.png";
                break;
            case "OpenWeatherMaps":
                faviconPath = "/icons/accuWeatherIcon32.png";
                break;
            case "Cocktails":
                faviconPath = "/icons/cocktailIcon32.png";
                break;
            default:
                faviconPath = "/icons/homeIcon32.png";
                break;
        }
    }

    <link rel="icon" href="@faviconPath" type="image/x-icon">

</head>
<body>
    <div class="banner @(ViewContext.RouteData.Values["controller"]?.ToString() == "ChuckNorrisJokes" || 
    ViewContext.RouteData.Values["controller"]?.ToString() == "Cocktails" ? "chuck-norris-backdrop" : "")">

        @{
            string bannerImage = "";
            bool isVideo = false;
            bool showSpaceshipCreateButton = false;
            bool showRealEstateCreateButton = false;
            bool showKindergartenCreateButton = false;
            bool showChuckNorrisJokeButton = false;
            bool showCocktailSearchForm = false;
            var controller = ViewContext.RouteData.Values["controller"]?.ToString();
            switch (controller)
            {
                case "Home":
                    bannerImage = "~/images/codingBanner.mp4";
                    isVideo = true;
                    break;
                case "Spaceships":
                    bannerImage = "~/images/spaceshipBanner.jpg";
                    showSpaceshipCreateButton = true;
                    break;
                case "RealEstates":
                    bannerImage = "~/images/realEstateBanner.jpg";
                    showRealEstateCreateButton = true;
                    break;
                case "Kindergartens":
                    bannerImage = "~/images/kindergartenBanner.jpg";
                    showKindergartenCreateButton = true;
                    break;
                case "AccuWeathers":
                    bannerImage = "~/images/codingBanner.mp4";
                    isVideo = true;
                    break;
                case "OpenWeatherMaps":
                    bannerImage = "~/images/codingBanner.mp4";
                    isVideo = true;
                    break;
                case "ChuckNorrisJokes":
                    bannerImage = "~/images/chuckNorrisBanner.webp";
                    showChuckNorrisJokeButton = true;
                    break;
                case "FreeToGames":
                    bannerImage = "~/images/gamingBanner.jpg";
                    break;
                case "Cocktails":
                    bannerImage = "~/images/cocktailBanner.jpg";
                    showCocktailSearchForm = true;
                    break;
                default:
                    bannerImage = "~/images/defaultBanner.jpg";
                    break;
            }

        }
        @if (isVideo)
        {
            <video autoplay muted loop class="img-fluid" style="width: 100%; height: 650px; object-fit: cover;">
                <source src="@Url.Content(bannerImage)" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        }
        else
        {
            <img src="@Url.Content(bannerImage)" alt="Banner" class="img-fluid" style="width: 100%; height: 500px; object-fit: cover;" />
        }


        <div class="banner-overlay">
            @if (showSpaceshipCreateButton)
            {
                <h1>Expand the galaxy—create a new spaceship entry now.</h1>
                <a asp-action="Create" asp-controller="Spaceships" class="btn btn-create">New Entry</a>
            }
            @if (showRealEstateCreateButton)
            {
                <h1>Invest in connections—create a real estate entry today.</h1>
                <a asp-action="Create" asp-controller="RealEstates" class="btn btn-create">New Entry</a>
            }
            @if (showKindergartenCreateButton)
            {
                <h1>Start a new journey in early education by creating a kindergarten entry.</h1>
                <a asp-action="Create" asp-controller="Kindergartens" class="btn btn-create">New Entry</a>
            }
            @if (showChuckNorrisJokeButton)
            {
                <h1>@(TempData["Joke"] as string ?? "Click 'Next Fact' for a Chuck Norris fact!")</h1>

                <form asp-action="NewJoke" asp-controller="ChuckNorrisJokes" method="post">
                    <button type="submit" class="btn btn-create">
                        @(TempData["IsFirstVisit"] != null && (bool)TempData["IsFirstVisit"] ? "Get Fact" : "Next Fact")
                    </button>
                </form>
            }
            @if (showCocktailSearchForm)
            {
                <form method="get" asp-controller="Cocktails" asp-action="Index" class="cocktail-search-form">
                    <div class="d-flex">
                        <input type="text" name="search" placeholder="Search for a cocktail"
                               value="@ViewContext.HttpContext.Request.Query["search"]" class="me-2 custom-search-box" />
                        <button type="submit" class="btn btn-create">Search</button>
                    </div>
                </form>
            }
        </div>

    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 navbar-overlay">
            <div class="container-fluid">
                <a class="navbar-brand text-white px-5" asp-area="" asp-controller="Home" asp-action="Index">Shop</a>

                    @{
                        var searchOpenWeatherMapCityModel = ViewData["SearchCityModel"] as Shop.Models.OpenWeatherMaps.OpenWeatherMapsSearchViewModel;
                    }

                    <form asp-controller="openWeatherMaps" asp-action="SearchCity" method="post" class="d-flex">
                        <input id="Name" name="Name" class="form-control open-weather-input"
                               value="@searchOpenWeatherMapCityModel?.Name" placeholder="Search current weather for location" />
@*                         <button type="submit" class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button> *@
                    </form>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end px-5">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Spaceships" asp-action="Index">Spaceship</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Kindergartens" asp-action="Index">Kindergarten</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="RealEstates" asp-action="Index">Real Estate</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="ChuckNorrisJokes" asp-action="Index">Chuck Norris Facts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="FreeToGames" asp-action="Index">Free Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Cocktails" asp-action="Index">Cocktails</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#forecastModal">Accu Weather</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Modal -->
@{
    var searchCityModel = ViewData["SearchCityModel"] as Shop.Models.AccuWeathers.AccuWeathersSearchViewModel;
}

<div class="modal" id="forecastModal" tabindex="-1" aria-labelledby="forecastModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-weather-search">
                <form method="post" asp-controller="AccuWeathers" asp-action="SearchCity" class="d-flex w-100 p-3">
                    <div class="form-group flex-grow-1 me-2">
                        <input id="CityName" name="CityName" class="form-control" 
                               value="@searchCityModel?.CityName" placeholder="Search daily forecast for location" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg></button>
                    </div>
                </form>
        </div>
    </div>
</div>

    <footer class="footer-overlay footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - Shop - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
