@model Shop.Models.AccuWeathers.AccuWeatherViewModel

@{
    ViewData["Title"] = "AccuWeather";
}

<div class="container mt-5">
    <div class="card weather-card" style="max-width: 45rem;">
        <div class="card-header">
            <h5 class="card-title">Daily forecast for @Model.CityName (@DateTime.Now.ToString("dd/MM/yyyy"))</h5>
        </div>
        <div class="card-body">
            <!-- Min Temp Row -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Min Temp:</strong> @Model.TempMinValue °C</p>
                </div>
            </div>

            <!-- Max Temp Row -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Max Temp:</strong> @Model.TempMaxValue °C</p>
                </div>
            </div>

            <!-- Weather Description Row -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Weather Description:</strong> @Model.Text</p>
                </div>
            </div>

            <!-- Severity Row -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Severity:</strong> @Model.Severity</p>
                </div>
            </div>

            <!-- Category Row -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Category:</strong> @Model.Category</p>
                </div>
            </div>

            <!-- Effective Date Row -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Effective Date:</strong> @Model.EffectiveDate</p>
                </div>
            </div>
        </div>
    </div>
</div>

