@model Shop.Models.AccuWeathers.AccuWeatherViewModel

@{
    ViewData["Title"] = "AccuWeather";
}

<div class="container mt-5">
    <div class="card text-white bg-dark mb-3" style="max-width: 45rem;">
        <div class="card-header">
            <h5 class="card-title">@DateTime.Now.ToString("dd/MM/yyyy") Daily forecast for @Model.CityName</h5>
        </div>
        <div class="card-body">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Min Temp:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.TempMinValue °C</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Max Temp:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.TempMaxValue °C</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Weather Description:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.Text</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Severity:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.Severity</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Category:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.Category</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Effective Date:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.EffectiveDate</label>
                </div>
            </div>
        </div>
    </div>
</div>
