@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white text-uppercase fw-bold mt-5">Latest Updates</h1>
</div>

@model HomePageViewModel

<div class="container mt-5">
    <!-- Spaceships Cards -->
    <div class="container card p-3" style="background-color: rgba(255, 255, 255, 0.04);">
        <div class="row">
            <h2 class="text-white col-11">Spaceships</h2>
            <div class="col-1 d-flex align-items-center justify-content-end">
                <a class="btn btn-outline-danger text-center" asp-area="" asp-controller="Spaceships" asp-action="Index">See all</a>
            </div>
        </div>
        <div class="row mt-2">
            @foreach (var spaceship in Model.Spaceships.OrderByDescending(s => s.ModifiedAt).Take(4))
            {
                var imagePath = Model.FileToApis.FirstOrDefault(f => f.SpaceshipId == spaceship.Id)?.ExistingFilePath;
                <div class="col-md-3">
                    <a asp-action="Details" asp-controller="Spaceships" asp-route-id="@spaceship.Id" class="card" style="background-image: url('../../multipleFileUpload/@imagePath'); height: 15.625rem; background-size: cover; background-position: center; overflow: hidden; text-decoration: none;">
                        <div class="d-flex flex-column justify-content-end" style="height: 100%;">
                            <div class="crud-card-data">
                                <h4 class="card-title text-white">@spaceship.Name</h4>
                                <p class="card-text text-white">@spaceship.SpaceshipModel</p>
                                <p class="card-text text-white">
                                    <small class="text-muted">Last Updated: @spaceship.ModifiedAt</small>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

    <!-- Kindergartens Cards -->
    <div class="container card p-3 mt-4" style="background-color: rgba(255, 255, 255, 0.04);">
        <div class="row">
            <h2 class="text-white col-11">Kindergartens</h2>
            <div class="col-1 d-flex align-items-center justify-content-end">
                <a class="btn btn-outline-danger text-center" asp-area="" asp-controller="Kindergartens" asp-action="Index">See all</a>
            </div>
        </div>
        <div class="row mt-2">
            @foreach (var kindergarten in Model.Kindergartens.OrderByDescending(k => k.UpdatedAt).Take(4))
            {
                var image = Model.KindergartenImages.FirstOrDefault(i => i.KindergartenId == kindergarten.Id);
                string imageUrl = image != null && image.ImageData != null
                ? $"data:image/jpeg;base64,{Convert.ToBase64String(image.ImageData)}"
                : null;
                <div class="col-md-3">
                    <a asp-action="Details" asp-controller="Kindergartens" asp-route-id="@kindergarten.Id" class="card" style="background-image: url('@imageUrl'); height: 15.625rem; background-size: cover; background-position: center; overflow: hidden; text-decoration: none;">
                        <div class="d-flex flex-column justify-content-end" style="height: 100%;">
                            <div class="crud-card-data">
                                <h4 class="card-title text-white">@kindergarten.KindergartenName</h4>
                                <p class="card-text text-white">@kindergarten.GroupName</p>
                                <p class="card-text text-white">
                                    <small class="text-muted">Last Updated: @kindergarten.UpdatedAt</small>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

    <!-- Real Estates Cards -->
    <div class="container card p-3 mt-4 mb-5" style="background-color: rgba(255, 255, 255, 0.04);">
        <div class="row">
            <h2 class="text-white col-11">Real Estates</h2>
            <div class="col-1 d-flex align-items-center justify-content-end">
                <a class="btn btn-outline-danger text-center" asp-area="" asp-controller="RealEstates" asp-action="Index">See all</a>
            </div>
        </div>
        <div class="row mt-2">
            @foreach (var realEstate in Model.RealEstates.OrderByDescending(r => r.ModifiedAt).Take(4))
            {
                var image = Model.RealEstateImages.FirstOrDefault(i => i.RealEstateId == realEstate.Id);
                string imageUrl = image != null && image.ImageData != null
                ? $"data:image/jpeg;base64,{Convert.ToBase64String(image.ImageData)}"
                : null;
                <div class="col-md-3">
                    <a asp-action="Details" asp-controller="RealEstates" asp-route-id="@realEstate.Id" class="card" style="background-image: url('@imageUrl'); height: 15.625rem; background-size: cover; background-position: center; overflow: hidden; text-decoration: none;">
                        <div class="d-flex flex-column justify-content-end" style="height: 100%;">
                            <div class="crud-card-data">
                                <h4 class="card-title text-white">@realEstate.Location</h4>
                                <p class="card-text text-white">@realEstate.RoomNumber</p>
                                <p class="card-text text-white">
                                    <small class="text-muted">Last Updated: @realEstate.ModifiedAt</small>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
