@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white text-uppercase">Latest Updates</h1>
</div>

@model HomePageViewModel

<div class="container mt-4">
    <!-- Spaceships Cards -->
    <div class="container card p-3" style="background-color: rgba(255, 255, 255, 0.1);">
        <h2 class="text-white text-center">Spaceships</h2>
        <div class="row">
            @foreach (var spaceship in Model.Spaceships.OrderByDescending(s => s.ModifiedAt).Take(4))
            {
                var imagePath = Model.FileToApis.FirstOrDefault(f => f.SpaceshipId == spaceship.Id)?.ExistingFilePath;
                <div class="col-md-3">
                    <div class="card" style="background-image: url('../../multipleFileUpload/@imagePath'); height: 18.75rem; background-size: cover; background-position: center;">
                        <div class="card-body">
                            <h4 class="card-title">@spaceship.Name</h4>
                            <p class="card-text">@spaceship.SpaceshipModel</p>
                            <p class="card-text"><small class="text-muted">Updated at: @spaceship.ModifiedAt</small></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Kindergartens Cards -->
    <div class="container card p-3 mt-4" style="background-color: rgba(255, 255, 255, 0.1);">
        <h2 class="text-white text-center">Kindergartens</h2>
        <div class="row">
            @foreach (var kindergarten in Model.Kindergartens.OrderByDescending(k => k.UpdatedAt).Take(4))
            {
                var image = Model.KindergartenImages.FirstOrDefault(i => i.KindergartenId == kindergarten.Id);
                string imageUrl = image != null && image.ImageData != null
                ? $"data:image/jpeg;base64,{Convert.ToBase64String(image.ImageData)}"
                : null;
                <div class="col-md-3">
                    <div class="card" style="background-image: url('@imageUrl');  height: 18.75rem; background-size: cover; background-position: center;">
                        <div class="card-body">
                            <h4 class="card-title">@kindergarten.KindergartenName</h4>
                            <p class="card-text">@kindergarten.GroupName</p>
                            <p class="card-text"><small class="text-muted">Updated at: @kindergarten.UpdatedAt</small></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Real Estates Cards -->
    <div class="container card p-3 mt-4" style="background-color: rgba(255, 255, 255, 0.1);">
        <h2 class="text-white text-center">Real Estates</h2>
        <div class="row">
            @foreach (var realEstate in Model.RealEstates.OrderByDescending(r => r.ModifiedAt).Take(4))
            {
                var image = Model.RealEstateImages.FirstOrDefault(i => i.RealEstateId == realEstate.Id);
                string imageUrl = image != null && image.ImageData != null
                ? $"data:image/jpeg;base64,{Convert.ToBase64String(image.ImageData)}"
                : null;
                <div class="col-md-3">
                    <div class="card" style="background-image: url('@imageUrl');  height: 18.75rem; background-size: cover; background-position: center;">
                        <div class="card-body">
                            <h4 class="card-title">@realEstate.Location</h4>
                            <p class="card-text">@realEstate.BuildingType</p>
                            <p class="card-text"><small class="text-muted">Updated at: @realEstate.ModifiedAt</small></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
