@model Shop.Models.Spaceships.SpaceshipsPagedViewModel

<div class="container">
    <div class="row d-flex align-items-center justify-content-between">
        <div class="col-sm-6">
            <h1 class="text-white mt-4 mb-3">Spaceships</h1>
        </div>
        <div class="col-sm-3">
            <form asp-action="Index" method="get" class="mb-3">
                <div class="form-group">
                    <label for="sortOrder" class="sr-only text-white">Sort By:</label>
                    @Html.DropDownList("sortOrder", new SelectList(new[]
                             {
                    new { Value = "", Text = "Name (Ascending)" },
                    new { Value = "name_desc", Text = "Name (Descending)" },
                    new { Value = "type", Text = "Type (Ascending)" },
                    new { Value = "type_desc", Text = "Type (Descending)" },
                    new { Value = "date", Text = "Built Date (Ascending)" },
                    new { Value = "date_desc", Text = "Built Date (Descending)" },
                    new { Value = "crew", Text = "Crew (Ascending)" },
                    new { Value = "crew_desc", Text = "Crew (Descending)" }
                    }, "Value", "Text", Model.SortOrder), new { @class = "form-control", onchange = "this.form.submit()" })
                </div>
            </form>
        </div>
    </div>

    <form method="post">
        <table class="table text-white table-hover" style="table-layout: fixed; width: 100%;">
            <thead class="text-white">
                <tr>
                    <th class="col-1" scope="col">Nr</th>
                    <th class="col-3" scope="col">Name</th>
                    <th class="col-3" scope="col">Type</th>
                    <th class="col-3" scope="col">Built date</th>
                    <th class="col-2" scope="col">Crew</th>
                    <th class="col-3" scope="col"></th>
                </tr>
            </thead>
            <tbody class="text-white">
                @for (int i = 0; i < Model.Spaceships.Count(); i++)
                {
                    var spaceship = Model.Spaceships.ElementAt(i);
                    <tr>
                        <td>@((Model.CurrentPage - 1) * Model.PageSize + (i + 1))</td>
                        <td>@spaceship.Name</td>
                        <td>@spaceship.Typename</td>
                        <td>@spaceship.BuiltDate</td>
                        <td>@spaceship.Crew</td>
                        <td>
                            <a asp-action="Details" asp-controller="Spaceships" asp-route-id="@spaceship.Id" class="btn btn-info">Details</a>
                            <a asp-action="Update" asp-controller="Spaceships" asp-route-id="@spaceship.Id" class="btn btn-primary">Update</a>
                            <a asp-action="Delete" asp-controller="Spaceships" asp-route-id="@spaceship.Id" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

    <div class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a asp-action="Index" asp-route-pageNumber="@i" asp-route-sortOrder="@Model.SortOrder" class="btn @((i == Model.CurrentPage) ? "btn-primary" : "btn-secondary") mx-1">
                @i
            </a>
        }
    </div>
</div>
